.playListItemCard {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  overflow: hidden;
}
.playListItemCard:hover button {
  transform: translateY(0);
  opacity: 1;
}


.playListItemCard:hover .audioSpectrum {
  opacity: 0;
}

.itemCard {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  background: rgba(255,255,255,.1);
  border-radius: .4rem;
  transition: .3s all ease;
  height: clamp(4.8rem, 4vw, 7rem);
  /* min-width: 22rem; */
  overflow: hidden;
}
.itemCard:hover {
  background: rgba(255,255,255,.3);
}


.itemPicture {
  /* height: 100%; */
  height: clamp(5rem, 5vw, 10rem);
  width: clamp(5rem, 5vw, 10rem);
  background: #4d4d4d;
}
.itemPicture img {
  object-fit: contain;
  height: 100%;
}

.title {
  font-size: clamp(.8rem, 1vw, 1.3rem);
  text-wrap: wrap;
  width: 100%;
  min-width: min-content;
}


.buttonsContainer {
  height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
  /* border: 1rem solid red; */
}
