---
interface Props {
  href?:string
}

const{href} = Astro.props
---


<li>
  <a href={href} class="item-link flex gap-4 text-zinc-400 items-center transition duration-300">
    <slot/>
  </a>
</li>

<style>
  li {
    /* padding: .4rem 1.2rem; */
    height: 4rem;
    display: flex;
  }
  li a {
    display: flex;
    gap: 2rem;
  }
</style>
